.cardContainer.card {
    background-color: black !important;
}

.cardContainer {
    display: inline-block;
    text-align: center !important;
    border: none !important;
}

.cardContainer .cardOuterDiv {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    padding: 1px;
    /* background-color: #178be7; */
}

.cardContainer .cardOuterDiv .cardImg {
    height: 15rem;
    max-width: 15rem;
    cursor: pointer;
}

.cardContainer .cardOuterDiv .cardBody {
    text-align: center;
    padding: 0.7rem;
    margin-top: 10px;
    /* border-top: 1px solid #BBB; */
    /* background-color: white; */
}

.cardContainer .cardOuterDiv:hover .cardBody {
    color: white;
}

.cardContainer .cardOuterDiv:hover .cardImg {
    outline: -webkit-focus-ring-color auto 1px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0;
}

.cardContainer .cardOuterDiv .cardBody .cardTitle {
    font-size: 2rem;
    cursor: pointer;
    color: yellow;
}